<html>
    <head>
        <script src="bower_components/angular/angular.js"></script>
        <script src="flag_data.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.css">
    </head>
    <body ng-app="flagApp" >
        <div ng-controller="flagCtrl as flag">


            <button ng-click="flag.call();">CLICK HERE</button>


            <br>
            <br>
            

            <span class="flag-icon flag-icon-{{flag.alpha}}"></span>
            <br>
            <br>

            COUNTRY NAME :<input type="text" ng-model= "flag.nation"> </input>

            <br>
            <br>
            <button ng-click="flag.option();"> OPTIONS </button>
            <p ng-if="flag.temp && flag.temp==1">

            (A)  {{flag.option1}} <br>
            (B)  {{flag.option2}} <br>
            (C)  {{flag.option3}} <br>
            (D)  {{flag.nationName}}<br>
            </p>
            
            <p ng-if =" flag.nation && flag.nationName == flag.nation"> THIS IS CORRECT </p>

        </div>

    </body>
    
</html>
